* {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.icon-bar {
    background-color: maroon;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 20%; 
    border-radius: 10px;
    margin: 0 0;
    justify-content: space-around;
    align-items: center;
    object-fit: cover;
    border-bottom: 4svh solid rgb(46, 39, 39);
}


.icon-bar img  {
    width: 100%;
    height: 20%;
    
    max-width: 10%;
    max-height:100%;
}

.icon-bar #logo {
    
    transform: scale(2.5,3);
    transform-origin: top-left;
    justify-content: center;
    
    margin : auto ;
}


.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* gap:2%; */
    /* max-width: 1400px;  */
    margin: 0 0;
    justify-content: center;
    align-items: center;
    
    padding: 1%;
}

.container img {
    opacity: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 350px;
    height: 350px;
    border-radius: 10px;
    margin: 1rem 1rem;
    box-shadow: 5px 5px 5px 5px rgb(27, 24, 24);
}